{% extends 'blog/base.html' %}

{% block title %} {{post.title}} {% endblock %}

{% block content %}

<div class="row g-5">
    <div class="d-flex justify-content-center">
        <div class="col-md-8 mb-2">
            <article class="blog-post">
                <h1 class="display-5 link-body-emphasis mb-1">{{ post.title }}</h1>
                <p class="blog-post-meta">{{ post.created_at|timesince }} ago</p>
        
                <h3>{{post.intro}}</h3>
                <hr>

                <p>{{post.body}}</p>
                <span class="badge rounded-pill bg-secondary"><a href="{% url 'category_detail' post.category.slug %}" class="text-white">Category - {{post.category}}</a></span>

                <br>
                <a href="{% url 'home' %}" class="btn btn-outline-info mt-2">Back to posts</a>
            </article>
            <hr>
            <h2>Comments</h2>
            <form action="" method="post">
                {% csrf_token %}
            
                {{ form.as_p}}
                <button type="submit" class="btn btn-primary mb-3">Add Comment</button>
            </form>

            {% for comment in post.comments.all %}
                <div class="card mb-2">
                    <div class="card-header">
                        {{ comment.name }} | {{ comment.created_at|timesince }} ago
                    </div>
                    <div class="card-body">
                    <h5 class="card-title">{{comment.email}}</h5>
                    <p class="card-text">{{comment.body}}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>    
{% endblock %}